@font-face {
    font-display: swap;
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 400;

    src: url("../fonts/SegoeUI.woff"),
    url("../fonts/SegoeUI.woff2") format("woff2"),
    url("../fonts/SegoeUI.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 600;

    src: url("../fonts/SegoeUISemibold.woff"),
    url("../fonts/SegoeUISemibold.woff2") format("woff2"),
    url("../fonts/SegoeUISemibold.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "SegoeUI";
    font-style: normal;
    font-weight: 700;

    src: url("../fonts/SegoeUIBold.woff"),
    url("../fonts/SegoeUIBold.woff2") format("woff2"),
    url("../fonts/SegoeUIBold.ttf") format("truetype");
}

@font-face {
    font-display: swap;
    font-family: "SegoeUIBold";
    font-style: normal;
    font-weight: 900;

    src: url("../fonts/SegoeUIBlack.woff"),
    url("../fonts/SegoeUIBlack.ttf") format("truetype");
}
