$width-content: 1198px;
$width-tablet: 980px;

$margin-item: 65px;

$border: 1px solid #D8DDE0;
$border-radius: 5px;
$font-main: Montserrat, sans-serif;

$color-main: #425463;
$color-active: #00AA2B;
$color-secondary: #FD8E52;
$color-blue: #00AEE6;

$width-card: 277px;

$fs-txt-mobile: 16px;
$lh-txt-mobile: 20px;

$fs-title-mobile: 24px;
$lh-title-mobile: 29px;