$width-content: 1360px;
$width-tablet: 980px;

$margin-item: 65px;

$border: 1px solid #D8DDE0;
$border-radius: 5px;
$font-main: SegoeUI, sans-serif;

$color-main: #425463;
$color-active: #FF8D4E;
$color-secondary: #FD8E52;
$color-blue: #00AEE6;

$width-card: 277px;