<div class="b-social-menu">
    <div class="b-social-menu__list">
        <a href="#" class="b-social-menu__item">
            {{> icon/icon name="ig"}}
        </a>
        <a href="#" class="b-social-menu__item">
            {{> icon/icon name="fb"}}
        </a>
        <a href="#" class="b-social-menu__item">
            {{> icon/icon name="yut"}}
        </a>
        <a href="#" class="b-social-menu__item">
            {{> icon/icon name="tw"}}
        </a>
    </div>
</div>