<div class="b-social-menu">
    {{#if s-title}}
        <div class="b-social-menu__title">{{s-title}}</div>
    {{/if}}
    <div class="b-social-menu__list">
        <a href="#" class="b-social-menu__item">
            {{> icon/icon name="vk"}}
        </a>
        <a href="#" class="b-social-menu__item">
            {{> icon/icon name="ig"}}
        </a>
        <a href="#" class="b-social-menu__item">
            {{> icon/icon name="fb"}}
        </a>
    </div>
</div>