.g-body {
    font: 500 normal 16px/1.7 $font-main;
    width: 100%;
    min-width: 320px;
    height: 100%;
    color: $color-main;
    background: #fff;

    @media all and (max-width: 980px) {
        font-size: 14px;
    }
}
