.b-button {
    display: inline-block;
    position: relative;
    height: 60px;
    padding: 0 43px;
    margin: 0;
    color: #fff;
    font: 700 16px/60px $font-main;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    white-space: nowrap;
    background: $color-active;
    border: 0;
    border-radius: 0;
    outline: 0;
    transition: all .2s;
    cursor: pointer;
    user-select: none;

    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;

    &:visited {
        color: #fff;
    }
    &:hover {
        background: darken($color-active, 20%);
    }

    &.-bordered {
        color: #000;
        border: 2px solid #000;
        background-color: transparent;
        line-height: 56px;
        &:visited {
            color: #000;
        }
        &:hover {
            color: #fff;
            background: darken($color-active, 20%);
            border-color: darken($color-active, 20%);
        }
    }
}
