.l-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    background: #fff;
    padding: 34px 0;

    &__wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: $width-content;
        padding: 0 15px;
        margin: 0 auto;
    }

    .b-menu {
        &__list {
            display: flex;

        }
        &__item {
            &.-is-active, &:hover {
                font-weight: 600;
            }
        }
        &__link {
            padding: 10px 20px;
        }
    }
    &__inner {
        text-align: right;
        font-size: 17px;
        line-height: 24px;
    }
    &__phone {
        display: block;
        font-weight: 700;
    }
    &__link {
        display: inline-block;
        font-size: 13px;
        border-bottom: 1px solid #e1e1e1;
        &:hover {
            border-color: transparent;
        }
    }


}
