@import "../variables";
@import "../mixins";
@import "../sprites/svg-icons";

.b-icon {
    display: inline-block;
    position: relative;
    flex-shrink: 0;

    fill: currentColor;

    @each $name, $icon in $svg-icons {
        &.-#{$name} {
            @include sprite($icon);
        }
    }

    &.-ig {
        width: 30px;
        height: 30px;
    }

    &.-fb {
        width: 18px;
        height: 30px;
    }

    &.-yut {
        width: 31px;
        height: 30px;
    }

    &.-tw {
        width: 30px;
        height: 30px;
    }
    &.-arrow-down {
        width: 40px;
        height: 22px;
    }
    &.-arrow-slider {
        width: 29px;
        height: 17px;
    }
}
