.b-social-menu {
    &__list {
        display: flex;
        margin-left: -36px;
    }
    &__item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 36px;
        transition: all .2s linear;
        color: #fff;

        &:hover {
            color: $color-active;
        }
    }
}
