{{#> layouts/base title="Главная страница" bodyClass="-main-page"}}
    {{#*inline "content"}}
        <div class="l-content__inner">
        </div>
    {{/inline}}

    {{#*inline "scripts-block"}}
        <script>


        </script>
    {{/inline}}


{{/layouts/base}}
