.b-menu {
    &__item {
        display: block;
        transition: color .2s linear;

    }

    &__link {
        display: block;
        color: inherit;
    }

    &__icon {
        display: flex;
        margin-top: 2px;
        margin-left: 5px;
        transition: color .2s linear;
    }
}
