<div class="l-header">
    <div class="l-header__main">
        <div class="l-header__wrap">
            <a href="#" class="b-logo">
                <img src="assets/images/logo.svg" alt="" class="b-logo__img">
            </a>
            <div class="l-header__mobile">
                {{> menu/menu items=common.header.menu }}
                <a href="tel:228" class="l-header__phone">8 383 304-99-88</a>

                <div class="l-header__controls">
                    <a href="#" class="l-header__control -personal" data-mobile-name="Личный кабинет">
                        {{> icon/icon name="personal"}}
                    </a>
                </div>
                <div class="l-header__mobile-bg" data-show-sidebar></div>
            </div>
            <div class="m-menu-icon" data-show-sidebar>
                <div class="m-menu-icon__lines"></div>
            </div>
        </div>
    </div>
</div>