<div class="l-header">
    <div class="l-header__main">
        <div class="l-header__wrap">
            <a href="#" class="b-logo">
                <span class="b-logo__img-wrap">
                    <img src="assets/images/logo.svg" alt="" class="b-logo__img">
                </span>
                <span class="b-logo__txt">Жилой комплекс Аквамарин</span>
            </a>
            <div class="l-header__mobile">
                {{> menu/menu items=common.header.menu }}
                <div class="l-header__mobile-bg" data-show-mobile></div>
            </div>
            <div class="l-header__inner">
                <a href="tel:228" class="l-header__phone">(831) 202-02-12</a>
                <a href="#popup" class="l-header__link js-fancybox">Заказать звонок</a>

            </div>
            <div class="m-menu-icon" data-show-mobile>
                <div class="m-menu-icon__lines"></div>
            </div>
        </div>
    </div>
</div>


